global
  log stdout format raw local0
  maxconn 512

defaults
  log global
  mode http
  option httplog
  option http-server-close
  timeout connect 3s
  timeout client 90s
  timeout server 90s
  timeout tunnel 1h

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 5s

frontend backend_ingress
  bind :8000
  default_backend backend_replicas

backend backend_replicas
  balance roundrobin
  option httpchk GET /api/v1/health
  http-check expect status 200
  server-template backend 2 backend:8000 check resolvers docker init-addr libc,none

